@model IEnumerable<Formula1.Data.Models.PilotoPontosGrafico>

@{
    ViewData["Title"] = "GraficoPilotosPontos";
}

<div class="text-center">
    <h1 class="display-4">Formula 1</h1>
    <h3 class="display-6">Temporada 2019</h3>
    <p>Gráfico de pontos por piloto</p>

    <canvas id="grafico"></canvas>
</div>

@section scripts {

    <script src="~/lib/chartjs/Chart.bundle.min.js"></script>
    <script src="~/lib/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>

    <script type="text/javascript">
        var ctx = document.getElementById('grafico').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['aqui','vão','as','datas','das','corridas'],
                datasets: [
                    @foreach(var item in Model)
                    {
                        <text>
                        {
                            label: 'Realização',
                            data: [@(string.Join(",", item.Pontos.Select(o => o.ToString().Replace(',', '.'))))],
                            borderColor: [
                                'rgba(0,220,220,1)'
                            ],
                            fill: false,
                            borderWidth: 2
                        },
                        </text>
                    }
                ]
            },
            options: {
                legend: {
                    display: false
                },
                elements: {
                    line: {
                        tension: 0,
                    },
                    point: {
                        radius: 0
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },

                annotation: {
                    annotations: [
                        {
                            type: "line",
                            mode: "vertical",
                            scaleID: "x-axis-0",
                            value: 1,
                            borderColor: "red",
                            borderDash: [2, 2],
                            //label: {
                            //    content: "TODAY",
                            //    enabled: true,
                            //    position: "top"
                            //}
                        }
                    ]
                }
            }
        });
    </script>
}