@model Formula1.Data.Models.GraficoCampeonatoPilotos

@{
    ViewData["Title"] = "Temporada 2019 - Gráfico de pontos por piloto";
}

<div class="text-center">
    <h1 class="display-4">Formula 1</h1>
    <h3 class="display-6">Temporada 2019</h3>
    <p>Gráfico de pontos por piloto</p>

    <canvas id="grafico"></canvas>
</div>

@section scripts {

    <script src="~/lib/chartjs/Chart.bundle.min.js"></script>
    <script src="~/lib/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>

    <script type="text/javascript">
        var ctx = document.getElementById('grafico').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: [@Html.Raw(string.Join(",", Model.Corridas.Select(o => $"'{o.NomeGrandePremio}'")))],
                datasets: [
                    @foreach(var piloto in Model.Pilotos)
                    {
                        <text>
                        {
                            label: '@piloto.Piloto',
                            data: [@(string.Join(",", piloto.Pontos.Select(o => o != null ? o.ToString().Replace(',', '.') : "null")))],
                            borderColor: ['@piloto.CorRgb'],
                            fill: false,
                            borderWidth: 2
                        },
                        </text>
                    }
                ]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                elements: {
                    line: {
                        tension: 0,
                    },
                    point: {
                        radius: 3
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        display: true,
						scaleLabel: {
							display: true,
							labelString: 'Pontos'
						}
                    }]
                },

                annotation: {
                    annotations: [
                        {
                            type: "line",
                            mode: "vertical",
                            scaleID: "x-axis-0",
                            value: 1,
                            borderColor: "red",
                            borderDash: [2, 2],
                            //label: {
                            //    content: "TODAY",
                            //    enabled: true,
                            //    position: "top"
                            //}
                        }
                    ]
                }
            }
        });
    </script>
}