@model Formula1.MVC.Models.ResultadoCampeonatoModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-classificacao">
    <thead>
        <tr>
            <th scope="col"></th>

            @foreach (var corrida in Model.Corridas)
            {
                <th scope="col" class="text-center align-middle th-titulo-corrida">
                    <small class="titulo-corrida">
                        @corrida.NomeGrandePremio<br />@corrida.DataHoraBrasil.ToString("dd/MMM/yyyy HH:mm")
                    </small>
                </th>
            }

            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var piloto in Model.Pilotos)
        {
            <tr>
                <td>
                    <small>@piloto.Piloto.NomeGuerra</small>
                </td>

                @foreach (var corrida in Model.Corridas)
                {
                    var resultado = corrida.Resultados.Where(o => o.Piloto == piloto.Piloto).FirstOrDefault();

                    <td class="text-center">
                        <small>@resultado?.PosicaoChegada.ToString()</small>
                    </td>
                }

                <td>
                    <small>@piloto.Pontos.ToString()</small>
                </td>
            </tr>
        }
    </tbody>
</table>
